<div class="sidenav">
    <h5>Admin</h5>
    <a href='#!/profile-admin' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{admin.vorname + ' ' + admin.name}}<br><c>{{admin.email}}</c></p></a>
    <hr>
    <br>
    <a href='#!/user-overview-admin'><i class="fa fa-fw fa-users"></i> User-Übersicht</a>
    <br>
    <a href='#!/room-overview-admin'><i class="fa fa-fw fa-list"></i> Räume</a>
    <br>
    <a href='#!/event-create-admin'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <br>
    <a href='#!/event-overview-admin'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <br>
    <a href='#!/bills-admin'><e><i class="fa fa-fw fa-dollar"></i> Abrechnung</e></a>
</div>

<h6>Abrechnung noch nicht erstellt:</h6>
<table style="margin-top: 0.5%" id="tableVA" data-ng-hide="result1.length === 0">
    <tr>
        <th>Titel</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Art</th>
        <th>Status</th>
        <th>Zusatzleistungen</th>
        <th>Preis</th>
        <th>Abrechnen</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | filter: {angebotsstatus: '!Angebot offen'} | filter: {angebotsstatus: '!Abrechnung erstellt'} | orderBy : 'titel' as result1" data-ng-if="veranstaltung.end_datum < currentDate.toISOString()">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</td>
        <td>{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.sichtbarkeit}}</td>
        <td>{{veranstaltung.angebotsstatus}}</td>
        <td>{{veranstaltung.leistung}}</td>
        <td>{{veranstaltung.veranstalter_preis}}€</td>
        <td><button data-ng-click="abrechnenVeranstaltung(veranstaltung._id)" onClick="window.location.reload()"><i class="fa fa-fw fa-check"></i></button></td>
    </tr>
</table>

<div id="noEvent" data-ng-if="result1.length === 0" style="margin-top: 0">
    <p>Du hast aktuell noch keine abzurechnenden Veranstaltungen. <br><br></p>
</div>

<h6>Abrechnung bereits erstellt:</h6>
<table style="margin-top: 0.5%" id="tableVA" data-ng-hide="result2.length === 0">
    <tr>
        <th>Titel</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Art</th>
        <th>Status</th>
        <th>Zusatzleistungen</th>
        <th>Preis</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | filter: {angebotsstatus: 'Abrechnung erstellt'} | orderBy : 'titel' as result2">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</td>
        <td>{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.sichtbarkeit}}</td>
        <td>{{veranstaltung.angebotsstatus}}</td>
        <td>{{veranstaltung.leistung}}</td>
        <td>{{veranstaltung.veranstalter_preis}}€</td>
    </tr>
</table>

<div id="noEvent" data-ng-if="result2.length === 0" style="margin-top: 0">
    <p>Du hast aktuell noch keine Veranstaltungen mit erstellter Abrechnung. <br><br></p>
</div>
