<div class="sidenav">
    <h5>Management</h5>
    <a href='#!/profile-management' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{management.vorname + ' ' + management.name}}<br><c>{{management.email}}</c></p></a>
    <hr>
    <br>
    <a href='#!/room-overview-management'><i class="fa fa-fw fa-list"></i> Räume</a>
    <br>
    <a href='#!/event-create-management'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <br>
    <a href='#!/event-overview-management'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <br>
    <a href='#!/email-management'><e><i class="fa fa-fw fa-envelope"></i> E-Mail</e></a>
    <br>
    <a href='#!/stats-management'><i class="fa fa-fw fa-dashboard"></i> Statistiken</a>
</div>

<table id="table">
    <tr>
        <th>Betreff</th>
        <th>Absender <i class="fa fa fa-fw fa-user"></i></th>
        <th>Datum</th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><i class="fa fa-fw fa-trash"></i></td>

    </tr>
</table>
