<div class="sidenav">
    <h5>Teilnehmer</h5>
    <a href='#!/profile-participant' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{teilnehmer.vorname + ' ' + teilnehmer.name}}<br><c>{{teilnehmer.email}}</c></p></a>
    <hr>
    <br>
    <a href='#!/event-search-participant'><i class="fa fa-fw fa-search"></i> Veranstaltungssuche</a>
    <br>
    <a href='#!/event-overview-participant'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <br>
    <a href='#!/email-participant'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>

<table id="table">
    <tr>
        <th>Betreff</th>
        <th>Absender <i class="fa fa fa-fw fa-user"></i></th>
        <th>Datum</th>
        <th></th>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td><i class="fa fa-fw fa-trash"></i></td>

    </tr>
</table>

