<div class="sidenav">
    <h5>Teilnehmer</h5>
    <a href='#!/profile-participant' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{teilnehmer.vorname + ' ' + teilnehmer.name}}<br><c>{{teilnehmer.email}}</c></p></a>
    <hr>
    <br>
    <a href='#!/event-search-participant'><e><i class="fa fa-fw fa-search"></i> Veranstaltungssuche</e></a>
    <br>
    <a href='#!/event-overview-participant'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
</div>

<div class="filter2">
    <input type="text" id="searchField" placeholder="Suche in den Veranstaltungen" data-ng-model="search">
    <div data-ng-hide="attendence1 || attendence2 || attendence3 || attendence4">
    <label><d>Preis:</d></label>
        <input type="checkbox" data-ng-model="price1">0-24€
        <input type="checkbox" data-ng-model="price2">25-49€
        <input type="checkbox" data-ng-model="price3">50-99€
        <input type="checkbox" data-ng-model="price4">100+€
    </div>
    <br>
    <div data-ng-hide="price1 || price2 || price3 || price4">
    <label><d>Teilnehmerzahl:</d></label>
        <input type="checkbox" data-ng-model="attendence1">5-9
        <input type="checkbox" data-ng-model="attendence2">10-19
        <input type="checkbox" data-ng-model="attendence3">20-49
        <input type="checkbox" data-ng-model="attendence4">50+
    </div>
</div>

<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | filter: {sichtbarkeit: 'Öffentlich', angebotsstatus: '!Angebot offen'} | filter: {angebotsstatus: '!Abrechnung erstellt'} | filter: smallerThanValue('teilnehmer_preis', 25) | filter: greaterThanToday('start_datum') | filter : search | orderBy : 'teilnehmer_preis' as result1" data-ng-if="(price1) && (veranstaltung.teilnehmer.length < veranstaltung.teilnehmerzahl)">
    <span id="utilization">{{veranstaltung.teilnehmer.length}} / {{veranstaltung.teilnehmerzahl}}</span>
    <li><h2>{{veranstaltung.titel}}</h2></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Preis: <span id="searchText">{{veranstaltung.teilnehmer_preis}}€</span></li>
    <hr>
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton"><g>Teilnehmen</g></button></li>
    <br><br>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | filter: {sichtbarkeit: 'Öffentlich', angebotsstatus: '!Angebot offen'} | filter: {angebotsstatus: '!Abrechnung erstellt'} | filter: smallerThanValue('teilnehmer_preis', 50) | filter: greaterThanValue('teilnehmer_preis', 25) | filter: greaterThanToday('start_datum') | filter : search | orderBy : 'teilnehmer_preis' as result2" data-ng-if="(price2) && (veranstaltung.teilnehmer.length < veranstaltung.teilnehmerzahl)">
    <span id="utilization">{{veranstaltung.teilnehmer.length}} / {{veranstaltung.teilnehmerzahl}}</span>
    <li><h2>{{veranstaltung.titel}}</h2></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Preis: <span id="searchText">{{veranstaltung.teilnehmer_preis}}€</span></li>
    <hr>
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton"><g>Teilnehmen</g></button></li>
    <br><br>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | filter: {sichtbarkeit: 'Öffentlich', angebotsstatus: '!Angebot offen'} | filter: {angebotsstatus: '!Abrechnung erstellt'} | filter: smallerThanValue('teilnehmer_preis', 100) | filter: greaterThanValue('teilnehmer_preis', 50) | filter: greaterThanToday('start_datum') | filter : search | orderBy : 'teilnehmer_preis' as result3" data-ng-if="(price3) && (veranstaltung.teilnehmer.length < veranstaltung.teilnehmerzahl)">
    <span id="utilization">{{veranstaltung.teilnehmer.length}} / {{veranstaltung.teilnehmerzahl}}</span>
    <li><h2>{{veranstaltung.titel}}</h2></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Preis: <span id="searchText">{{veranstaltung.teilnehmer_preis}}€</span></li>
    <hr>
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton"><g>Teilnehmen</g></button></li>
    <br><br>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | filter: {sichtbarkeit: 'Öffentlich', angebotsstatus: '!Angebot offen'} | filter: {angebotsstatus: '!Abrechnung erstellt'} | filter: greaterThanValue('teilnehmer_preis', 100) | filter: greaterThanToday('start_datum') | filter : search | orderBy : 'teilnehmer_preis' as result4" data-ng-if="(price4) && (veranstaltung.teilnehmer.length < veranstaltung.teilnehmerzahl)">
    <span id="utilization">{{veranstaltung.teilnehmer.length}} / {{veranstaltung.teilnehmerzahl}}</span>
    <li><h2>{{veranstaltung.titel}}</h2></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Preis: <span id="searchText">{{veranstaltung.teilnehmer_preis}}€</span></li>
    <hr>
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton"><g>Teilnehmen</g></button></li>
    <br><br>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | filter: {sichtbarkeit: 'Öffentlich', angebotsstatus: '!Angebot offen'} | filter: {angebotsstatus: '!Abrechnung erstellt'} | filter: smallerThanValue('teilnehmerzahl', 10) | filter: greaterThanToday('start_datum') | filter : search | orderBy : 'teilnehmerzahl' as result5" data-ng-if="(attendence1) && (veranstaltung.teilnehmer.length < veranstaltung.teilnehmerzahl)">
    <span id="utilization">{{veranstaltung.teilnehmer.length}} / {{veranstaltung.teilnehmerzahl}}</span>
    <li><h2>{{veranstaltung.titel}}</h2></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Preis: <span id="searchText">{{veranstaltung.teilnehmer_preis}}€</span></li>
    <hr>
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton"><g>Teilnehmen</g></button></li>
    <br><br>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | filter: {sichtbarkeit: 'Öffentlich', angebotsstatus: '!Angebot offen'} | filter: {angebotsstatus: '!Abrechnung erstellt'} | filter: smallerThanValue('teilnehmerzahl', 20) | filter: greaterThanValue('teilnehmerzahl', 10) | filter: greaterThanToday('start_datum') | filter : search | orderBy : 'teilnehmerzahl' as result6" data-ng-if="(attendence2) && (veranstaltung.teilnehmer.length < veranstaltung.teilnehmerzahl)">
    <span id="utilization">{{veranstaltung.teilnehmer.length}} / {{veranstaltung.teilnehmerzahl}}</span>
    <li><h2>{{veranstaltung.titel}}</h2></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Preis: <span id="searchText">{{veranstaltung.teilnehmer_preis}}€</span></li>
    <hr>
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton"><g>Teilnehmen</g></button></li>
    <br><br>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | filter: {sichtbarkeit: 'Öffentlich', angebotsstatus: '!Angebot offen'} | filter: {angebotsstatus: '!Abrechnung erstellt'} | filter: smallerThanValue('teilnehmerzahl', 50) | filter: greaterThanValue('teilnehmerzahl', 20) | filter: greaterThanToday('start_datum') | filter : search | orderBy : 'teilnehmerzahl' as result7" data-ng-if="(attendence3) && (veranstaltung.teilnehmer.length < veranstaltung.teilnehmerzahl)">
    <span id="utilization">{{veranstaltung.teilnehmer.length}} / {{veranstaltung.teilnehmerzahl}}</span>
    <li><h2>{{veranstaltung.titel}}</h2></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Preis: <span id="searchText">{{veranstaltung.teilnehmer_preis}}€</span></li>
    <hr>
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton"><g>Teilnehmen</g></button></li>
    <br><br>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | filter: {sichtbarkeit: 'Öffentlich', angebotsstatus: '!Angebot offen'} | filter: {angebotsstatus: '!Abrechnung erstellt'} | filter: greaterThanValue('teilnehmerzahl', 50) | filter: greaterThanToday('start_datum') | filter : search | orderBy : 'teilnehmerzahl' as result8" data-ng-if="(attendence4) && (veranstaltung.teilnehmer.length < veranstaltung.teilnehmerzahl)">
    <span id="utilization">{{veranstaltung.teilnehmer.length}} / {{veranstaltung.teilnehmerzahl}}</span>
    <li><h2>{{veranstaltung.titel}}</h2></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Preis: <span id="searchText">{{veranstaltung.teilnehmer_preis}}€</span></li>
    <hr>
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton"><g>Teilnehmen</g></button></li>
    <br><br>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | filter: {sichtbarkeit: 'Öffentlich', angebotsstatus: '!Angebot offen'} | filter: {angebotsstatus: '!Abrechnung erstellt'} | filter: greaterThanToday('start_datum') | filter: search | orderBy : 'titel' as result9" data-ng-if="(!price1) && (!price2) && (!price3) && (!price4) && (!attendence1) && (!attendence2) && (!attendence3) && (!attendence4) && (veranstaltung.teilnehmer.length < veranstaltung.teilnehmerzahl)">
    <span id="utilization">{{veranstaltung.teilnehmer.length.toString()}} / {{veranstaltung.teilnehmerzahl.toString()}}</span>
    <li><h2>{{veranstaltung.titel}}</h2></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum | date : "dd.MM.y" : "+0100"}}</span></li>
    <hr>
    <li>Preis: <span id="searchText">{{veranstaltung.teilnehmer_preis}}€</span></li>
    <hr>
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton"><g>Teilnehmen</g></button></li>
    <br><br>
</ul>

<div id="noEvent" data-ng-if="result1.length === 0 && result9.length != 0 && price1">
    <p>Für deine Suche konnten leider keine passenden Veranstaltungen gefunden werden.</p>
</div>
<div id="noEvent" data-ng-if="result2.length === 0 && result9.length != 0 && price2">
    <p>Für deine Suche konnten leider keine passenden Veranstaltungen gefunden werden.</p>
</div>
<div id="noEvent" data-ng-if="result3.length === 0 && result9.length != 0 && price3">
    <p>Für deine Suche konnten leider keine passenden Veranstaltungen gefunden werden.</p>
</div>
<div id="noEvent" data-ng-if="result4.length === 0 && result9.length != 0 && price4">
    <p>Für deine Suche konnten leider keine passenden Veranstaltungen gefunden werden.</p>
</div>
<div id="noEvent" data-ng-if="result5.length === 0 && result9.length != 0 && attendence1">
    <p>Für deine Suche konnten leider keine passenden Veranstaltungen gefunden werden.</p>
</div>
<div id="noEvent" data-ng-if="result6.length === 0 && result9.length != 0 && attendence2">
    <p>Für deine Suche konnten leider keine passenden Veranstaltungen gefunden werden.</p>
</div>
<div id="noEvent" data-ng-if="result7.length === 0 && result9.length != 0 && attendence3">
    <p>Für deine Suche konnten leider keine passenden Veranstaltungen gefunden werden.</p>
</div>
<div id="noEvent" data-ng-if="result8.length === 0 && result9.length != 0 && attendence4">
    <p>Für deine Suche konnten leider keine passenden Veranstaltungen gefunden werden.</p>
</div>
<div id="noEvent" data-ng-if="result9.length === 0">
    <p>Für deine Suche konnten leider keine passenden Veranstaltungen gefunden werden.</p>
</div>
