<div class="sidenav">
    <h1>Teilnehmer</h1>
    <a href='#!/profile-participant'><i class="fa fa-fw fa-user" id="userIcon"></i><b>{{teilnehmer.vorname + ' ' + teilnehmer.name}}</b><p>{{teilnehmer.email}}</p></a>
    <hr>
    <br>
    <a href='#!/event-search-participant' class="currentPage"><i class="fa fa-fw fa-search"></i> Veranstaltungssuche</a>
    <a href='#!/event-overview-participant'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <a href='#!/email-participant'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>
<div class="filter">
    <input type="text" id="searchField" placeholder="Suche in den Veranstaltungen" data-ng-model="search">
    <label>Verfügbarkeit:</label>
    <input type="checkbox" data-ng-model="all">Alle Veranstaltungen
    <input type="checkbox" data-ng-model="available">Verfügbar
    <br>
    <label>Preis in €:</label>
    <input type="checkbox" data-ng-model="price1">0-24
    <input type="checkbox" data-ng-model="price2">25-49
    <input type="checkbox" data-ng-model="price3">50-99
    <input type="checkbox" data-ng-model="price4">100+
    <br>
    <label>Teilnehmerzahl:</label>
    <input type="checkbox" data-ng-model="attendence1">5-9
    <input type="checkbox" data-ng-model="attendence2">10-19
    <input type="checkbox" data-ng-model="attendence3">20-49
    <input type="checkbox" data-ng-model="attendence4">50+
</div>
<table id="table" data-ng-if="all">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" data-ng-if="available">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" data-ng-if="price1">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search" data-ng-if="veranstaltung.teilnehmer_preis < 25">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" data-ng-if="price2">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search" data-ng-if="(veranstaltung.teilnehmer_preis < 50)&&(veranstaltung.teilnehmer_preis >= 25)">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" data-ng-if="price3">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search" data-ng-if="(veranstaltung.teilnehmer_preis < 100)&&(veranstaltung.teilnehmer_preis >= 50)">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" data-ng-if="price4">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search" data-ng-if="veranstaltung.teilnehmer_preis >= 100">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" data-ng-if="attendence1">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search" data-ng-if="veranstaltung.teilnehmerzahl < 10">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" data-ng-if="attendence2">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search" data-ng-if="(veranstaltung.teilnehmerzahl < 20)&&(veranstaltung.teilnehmerzahl >= 10)">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" data-ng-if="attendence3">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search" data-ng-if="(veranstaltung.teilnehmerzahl < 50)&&(veranstaltung.teilnehmerzahl >= 20)">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" data-ng-if="attendence4">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search" data-ng-if="veranstaltung.teilnehmerzahl >= 50">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
