<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <a href='#!/dashboard'><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    <a href='#!/room-overview'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/offer-create'><i class="fa fa-fw fa-plus"></i> Angebot erstellen</a>
    <a href='#!/event-overview'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <hr>
    <a href='#!/settings'><i class="fa fa-fw fa-gear"></i> Einstellungen</a>
</div>
<div id="roomModify" data-ng-submit='erstelleVeranstaltung(veranstaltung)'>
    <h1>Neue Veranstaltung</h1>
    <h3>Titel festlegen</h3>
    <p>Titel:  <input type="text" data-ng-model='veranstaltung.titel'></p>
    <hr>
    <h3>Veranstalter wählen</h3>
    <p>User-Email:  <input type="text" data-ng-model='veranstaltung.veranstalter'></p>
    <hr>
    <h3>Raum wählen</h3>
    <p>Raumnr.:  <input type="number" data-ng-model='veranstaltung.raum'></p>
    <hr>
    <h3>Zeitraum festlegen</h3>
    <p>Startdatum:  <input type="date" data-ng-model='veranstaltung.start_datum'></p>
    <p>Enddatum:  <input type="date" data-ng-model='veranstaltung.end_datum'></p>
    <hr>
    <h3>Teilnehmerzahl festlegen</h3>
    <p>Teilnehmerzahl:  <input type="number" placeholder="Teilnehmerzahl" data-ng-model='veranstaltung.teilnehmerzahl'></p>
    <hr>
    <h3>Preis für Teilnehmer festlegen</h3>
    <p>Preis:  <input type="number" placeholder="Preis" data-ng-model='veranstaltung.teilnehmer_preis'></p>
    <hr>
    <h3>Öffentlich oder Privat</h3>
    <p>Öffentlich:  <input type="checkbox" data-ng-model='veranstaltung.sichtbarkeit' data-ng-true-value="'Öffentlich'" ></p>
    <p>Privat:  <input type="checkbox" data-ng-model='veranstaltung.sichtbarkeit' data-ng-true-value="'Privat'" ></p>
    <hr>
    <h3>Extern oder Intern</h3>
    <p>Extern:  <input type="checkbox" data-ng-model='veranstaltung.angebotsstatus' data-ng-true-value="'Angebot offen'"></p>
    <p>Intern:  <input type="checkbox" data-ng-model='veranstaltung.angebotsstatus' data-ng-true-value="'Intern'"></p>
    <br>
    <div class="container">
        <button data-ng-click='erstelleVeranstaltung(veranstaltung)' class="loginButton">Veranstaltung anlegen</button>
    </div>
</div>
