<div class="sidenav">
    <h5>Management</h5>
    <a href='#!/profile-management' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{management.vorname + ' ' + management.name}}<br><c>{{management.email}}</c></p></a>
    <hr>
    <br>
    <a href='#!/room-overview-management'><i class="fa fa-fw fa-list"></i> Räume</a>
    <br>
    <a href='#!/event-create-management'><e><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</e></a>
    <br>
    <a href='#!/event-overview-management'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <br>
    <a href='#!/bills-management'><i class="fa fa-fw fa-dollar"></i> Abrechnung</a>
</div>

<div id="roomModify" data-ng-submit='erstelleVeranstaltung(veranstaltung)'>
    <h1>Neue Veranstaltung</h1>
    <br>
    <h3>Titel festlegen</h3>
    <p class="modifyText">Titel:  <input type="text" placeholder="Titel eingeben" class="field" data-ng-model='veranstaltung.titel'></p>
    <hr>
    <h3>Veranstalter wählen</h3>
    <p class="modifyText">User-Email:  <input type="text" placeholder="E-Mail eingeben" class="field" data-ng-model='veranstaltung.veranstalter'></p>
    <hr>
    <h3>Raum wählen</h3>
    <p class="modifyText">Raum-Nr.:  <input type="number" placeholder="RID" class="fieldNumber" data-ng-model='veranstaltung.raum'></p>
    <hr>
    <h3>Zeitraum festlegen</h3>
    <p class="modifyText">Startdatum:  <input type="date" class="fieldDate" data-ng-model='veranstaltung.start_datum'></p>
    <p class="modifyText">Enddatum:  <input type="date" class="fieldDate" data-ng-model='veranstaltung.end_datum'></p>
    <hr>
    <h3>Teilnehmerzahl festlegen</h3>
    <p class="modifyText">Teilnehmerzahl:  <input type="number" placeholder="Teilnehmerzahl" class="fieldDate" data-ng-model='veranstaltung.teilnehmerzahl'></p>
    <hr>
    <h3>Preis für Teilnehmer festlegen</h3>
    <p class="modifyText">Preis:  <input type="number" placeholder="Preis in €" class="fieldDate" data-ng-model='veranstaltung.teilnehmer_preis'></p>
    <hr>
    <h3>Öffentlich oder Privat</h3>
    <p class="modifyText">Öffentlich: <input type="checkbox" data-ng-model='veranstaltung.sichtbarkeit' data-ng-true-value="'Öffentlich'" > &nbsp;&nbsp;
                          Privat: <input type="checkbox" data-ng-model='veranstaltung.sichtbarkeit' data-ng-true-value="'Privat'" ></p>
    <hr>
    <h3>Extern oder Intern</h3>
    <p class="modifyText">Extern: <input type="checkbox" data-ng-model='veranstaltung.angebotsstatus' data-ng-true-value="'Angebot offen'"> &nbsp;&nbsp;&nbsp;
                          Intern: <input type="checkbox" data-ng-model='veranstaltung.angebotsstatus' data-ng-true-value="'Intern'"></p>
    <hr>
    <h3>Zusatzleistungen hinzufügen</h3>
    <p class="modifyText">Zusatzleistungen: <input type="text" placeholder="z.B. Catering, ..." class="field" data-ng-model='veranstaltung.leistung'></p>
    <hr><br>
    <div class="container">
        <a href="#!/event-overview-management"><button data-ng-click='erstelleVeranstaltung(veranstaltung)' id="logoutButton"><g>Veranstaltung anlegen</g></button></a>
    </div>
    <br><br><br>
</div>
