<h1 id="roomText">Alle Veranstaltungen</h1>
<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <a href='#!/dashboard'><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    <a href='#!/room-overview'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/offer-create'><i class="fa fa-fw fa-plus"></i> Angebot erstellen</a>
    <a href='#!/event-overview' class="currentPage"><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <hr>
    <a href='#!/settings'><i class="fa fa-fw fa-gear"></i> Einstellungen</a>
</div>

<table border="6">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Teilnehmerpreis</th>
        <th>Art</th>
        <th>Status</th>
        <th> </th>
    </tr>
    <tr data-ng-repeat='veranstaltung in veranstaltungen'>
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
        <td>{{veranstaltung.sichtbarkeit}}</td>
        <td>{{veranstaltung.angebotsstatus}}</td>
        <td><a href="#!/event-modify/{{veranstaltung._id}}"><i class="fa fa-fw fa-pencil" ></i></a></td>
    </tr>
    <tr>
        <td colspan="11"><a href="#!/event-create"><button class="addRoomButton">+ neue Veranstaltung erstellen ...</button></a></td>
    </tr>
</table>
<div id="priceText">
    <b>* Bei internen Veranstaltungen wird hier zu entrichtende Preis pro Teilnehmer angegeben, bei allen anderen Veranstaltungen ist hier der vom Veranstalter zu zahlende Preis vermerkt.</b>
</div>


