<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <br>
    <a href='#!/room-overview'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/event-create'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <a href='#!/event-overview'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <a href='#!/stats'><i class="fa fa-fw fa-dashboard"></i> Statistiken</a>
</div>
<div id="roomModify">
    <h2>Veranstaltung 1<i class="fa fa-fw fa-trash"></i></h2>
    <h3>Titel ändern</h3>
    <p>aktueller Titel:</p>
    <p>neuer Titel:  <input type="text" placeholder="neuer Titel"></p>
    <hr>
    <h3>Raum ändern</h3>
    <p>aktuelle RID:  1</p>
    <p>neue RID:  <input type="number" placeholder="neue RID"></p>
    <hr>
    <h3>Zeitraum ändern</h3>
    <p>aktuelles Startdatum:  01.01.21</p>
    <p>neues Startdatum:  <input type="date"></p>
    <p>aktuelles Enddatum:  04.01.21</p>
    <p>neues Enddatum:  <input type="date"></p>
    <hr>
    <h3>Teilnehmerzahl ändern</h3>
    <p>aktuelle Teilnehmerzahl:  15</p>
    <p>neue Teilnehmerzahl:  <input type="number" placeholder="neue Anzahl"></p>
    <hr>
    <h3>Neuen Preis festlegen (in €)</h3>
    <p>aktueller Preis:  100</p>
    <p>neuer Preis:  <input type="number" placeholder="neuer Preis"></p>
    <hr>
    <h3>Sichtbarkeit ändern</h3>
    <p>aktuelle Sichtbarkeit:  öffentlich</p>
    <p>neue Sichtbarkeit:  <input type="radio" name="visibility">öffentlich<input type="radio" name="visibility">geschlossen</p>
    <br>
    <div>
        <button class="loginButton">Änderung bestätigen</button>
    </div>
</div>


