<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <a href='#!/dashboard'><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    <a href='#!/room-overview'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/offer-create'><i class="fa fa-fw fa-plus"></i> Angebot erstellen</a>
    <a href='#!/event-overview'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <hr>
    <a href='#!/settings'><i class="fa fa-fw fa-gear"></i> Einstellungen</a>
</div>
<div id="roomModify">
    <h1>Neue Veranstaltung</h1>
    <h3>Titel festlegen</h3>
    <p>Titel:  <input type="text" placeholder="Titel"></p>
    <hr>
    <h3>Raum wählen</h3>
    <p>RID:  <input type="number" placeholder="RID"></p>
    <hr>
    <h3>Zeitraum festlegen</h3>
    <p>Startdatum:  <input type="date"></p>
    <p>Enddatum:  <input type="date"></p>
    <hr>
    <h3>Teilnehmerzahl festlegen</h3>
    <p>Teilnehmerzahl:  <input type="number" placeholder="Teilnehmerzahl"></p>
    <hr>
    <h3>Preis festlegen (in €)</h3>
    <p>Preis:  <input type="number" placeholder="Preis"></p>
    <hr>
    <h3>Sichtbarkeit festlegen</h3>
    <p>Sichtbarkeit:  <input type="radio" name="visibility">öffentlich<input type="radio" name="visibility">geschlossen</p>
    <hr>
    <h3>Angebotsstatus festlegen</h3>
    <p>Status:  <input type="radio" name="state">Angebot offen<input type="radio" name="state">Angebot akzeptiert<input type="radio" name="state">Angebot abgelehnt<input type="radio" name="state">in Abrechnung<input type="radio" name="state">abgerechnet</p>
    <br>
    <div>
        <button class="loginButton">Veranstaltung anlegen</button>
    </div>
</div>
