<div class="sidenav">
    <h1>Teilnehmer</h1>
    <a href='#!/profile-participant'><i class="fa fa-fw fa-user" id="userIcon"></i><b>{{teilnehmer.vorname + ' ' + teilnehmer.name}}</b><p id="emailSidebar">{{teilnehmer.email}}</p></a>
    <hr>
    <br>
    <a href='#!/event-search-participant' class="currentPage"><i class="fa fa-fw fa-search"></i> Veranstaltungssuche</a>
    <a href='#!/event-overview-participant'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <a href='#!/email-participant'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>
<div class="filter">
    <input type="text" id="searchField" placeholder="Suche in den Veranstaltungen" data-ng-model="search">
    <label>Preis in €:</label>
    <input type="checkbox" data-ng-model="price1">0-24
    <input type="checkbox" data-ng-model="price2">25-49
    <input type="checkbox" data-ng-model="price3">50-99
    <input type="checkbox" data-ng-model="price4">100+
    <br>
    <label>Teilnehmerzahl:</label>
    <input type="checkbox" data-ng-model="attendence1">5-9
    <input type="checkbox" data-ng-model="attendence2">10-19
    <input type="checkbox" data-ng-model="attendence3">20-49
    <input type="checkbox" data-ng-model="attendence4">50+
</div>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'teilnehmer_preis' | filter : search" data-ng-if="(veranstaltung.teilnehmer_preis < 25) && (price1)">
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton">Teilnehmen</button><h1>{{veranstaltung.titel}}</h1></li>
        <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
        <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum}}</span></li>
        <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum}}</span></li>
        <hr>
    <li>Teilnehmerzahl: <span id="searchText">{{veranstaltung.teilnehmerzahl}}</span></li>
        <hr>
    <li>Preis in €: <span id="searchText">{{veranstaltung.teilnehmer_preis}}</span></li>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'teilnehmer_preis' | filter : search" data-ng-if="(veranstaltung.teilnehmer_preis < 50) && (veranstaltung.teilnehmer_preis >= 25) && (price2)">
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton">Teilnehmen</button><h1>{{veranstaltung.titel}}</h1></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum}}</span></li>
    <hr>
    <li>Teilnehmerzahl: <span id="searchText">{{veranstaltung.teilnehmerzahl}}</span></li>
    <hr>
    <li>Preis in €: <span id="searchText">{{veranstaltung.teilnehmer_preis}}</span></li>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'teilnehmer_preis' | filter : search" data-ng-if="(veranstaltung.teilnehmer_preis < 100) && (veranstaltung.teilnehmer_preis >= 50) && (price3)">
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton">Teilnehmen</button><h1>{{veranstaltung.titel}}</h1></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum}}</span></li>
    <hr>
    <li>Teilnehmerzahl: <span id="searchText">{{veranstaltung.teilnehmerzahl}}</span></li>
    <hr>
    <li>Preis in €: <span id="searchText">{{veranstaltung.teilnehmer_preis}}</span></li>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'teilnehmer_preis' | filter : search" data-ng-if="(veranstaltung.teilnehmer_preis >= 100) && (price4)">
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton">Teilnehmen</button><h1>{{veranstaltung.titel}}</h1></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum}}</span></li>
    <hr>
    <li>Teilnehmerzahl: <span id="searchText">{{veranstaltung.teilnehmerzahl}}</span></li>
    <hr>
    <li>Preis in €: <span id="searchText">{{veranstaltung.teilnehmer_preis}}</span></li>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'teilnehmerzahl' | filter : search" data-ng-if="(veranstaltung.teilnehmerzahl < 10) && (attendence1)">
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton">Teilnehmen</button><h1>{{veranstaltung.titel}}</h1></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum}}</span></li>
    <hr>
    <li>Teilnehmerzahl: <span id="searchText">{{veranstaltung.teilnehmerzahl}}</span></li>
    <hr>
    <li>Preis in €: <span id="searchText">{{veranstaltung.teilnehmer_preis}}</span></li>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'teilnehmerzahl' | filter : search" data-ng-if="(veranstaltung.teilnehmerzahl < 20) && (veranstaltung.teilnehmerzahl >= 10) && (attendence2)">
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton">Teilnehmen</button><h1>{{veranstaltung.titel}}</h1></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum}}</span></li>
    <hr>
    <li>Teilnehmerzahl: <span id="searchText">{{veranstaltung.teilnehmerzahl}}</span></li>
    <hr>
    <li>Preis in €: <span id="searchText">{{veranstaltung.teilnehmer_preis}}</span></li>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'teilnehmerzahl' | filter : search" data-ng-if="(veranstaltung.teilnehmerzahl < 50) && (veranstaltung.teilnehmerzahl >= 20) && (attendence3)">
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton">Teilnehmen</button><h1>{{veranstaltung.titel}}</h1></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum}}</span></li>
    <hr>
    <li>Teilnehmerzahl: <span id="searchText">{{veranstaltung.teilnehmerzahl}}</span></li>
    <hr>
    <li>Preis in €: <span id="searchText">{{veranstaltung.teilnehmer_preis}}</span></li>
</ul>
<ul id="eventList" data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'teilnehmerzahl' | filter : search" data-ng-if="(veranstaltung.teilnehmerzahl >= 50) && (attendence4)">
    <li><button data-ng-click='teilnehmen(veranstaltung._id)' class="participateButton">Teilnehmen</button><h1>{{veranstaltung.titel}}</h1></li>
    <hr>
    <li>Raum-Nr.: <span id="searchText">{{veranstaltung.raum}}</span></li>
    <hr>
    <li>Von: <span id="searchText">{{veranstaltung.start_datum}}</span></li>
    <hr>
    <li>Bis: <span id="searchText">{{veranstaltung.end_datum}}</span></li>
    <hr>
    <li>Teilnehmerzahl: <span id="searchText">{{veranstaltung.teilnehmerzahl}}</span></li>
    <hr>
    <li>Preis in €: <span id="searchText">{{veranstaltung.teilnehmer_preis}}</span></li>
</ul>
