<script src="sorttable.js"></script>
<div class="sidenav">
    <h1>Teilnehmer</h1>
    <a href='#!/profile-participant'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <br>
    <a href='#!/event-search' class="currentPage"><i class="fa fa-fw fa-search"></i> Veranstaltungssuche</a>
    <a href='#!/event-overview-participant'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <a href='#!/email-participant'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>
<div class="filter">
    <input type="text" id="searchField" placeholder="Suche in den Veranstaltungen" data-ng-model="search">
    <label>Verfügbarkeit:</label>
    <input type="checkbox" data-ng-model="all">Alle Veranstaltungen
    <input type="checkbox" data-ng-model="available">Verfügbar
    <br>

</div>
<table id="table" class="sortable" data-ng-if="all">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>

<table id="table" class="sortable" data-ng-if="available">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>

<table id="table" class="sortable" data-ng-if="price1">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" class="sortable" data-ng-if="price1">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
<table id="table" class="sortable" data-ng-if="price1">
    <tr>
        <th>Titel</th>
        <th>User</th>
        <th>Raum</th>
        <th>Von</th>
        <th>Bis</th>
        <th><i class="fa fa fa-fw fa-user"></i></th>
        <th>Preis in €</th>
    </tr>
    <tr data-ng-repeat="veranstaltung in veranstaltungen | orderBy : 'titel' | filter : search">
        <td>{{veranstaltung.titel}}</td>
        <td>{{veranstaltung.veranstalter}}</td>
        <td>{{veranstaltung.raum}}</td>
        <td>{{veranstaltung.start_datum}}</td>
        <td>{{veranstaltung.end_datum}}</td>
        <td>{{veranstaltung.teilnehmerzahl}}</td>
        <td>{{veranstaltung.teilnehmer_preis}}</td>
    </tr>
</table>
