<div id="wrapper">
<div id="content">

<h1>Login</h1>
<div class="login">
    <br>
    <div class="container" data-ng-hide="checked3 || checked4">
        <label>für Teilnehmer und Veranstalter:</label>
        <span data-ng-hide="checked2"><input type="checkbox" data-ng-model="checked1">Teilnehmer</span>
        <span data-ng-hide="checked1"><input type="checkbox" data-ng-model="checked2">Veranstalter</span>
    </div>
    <hr> <br>
    <div class="container" data-ng-hide="checked1 || checked2">
        <label>für Management und Admin:</label>
        <span data-ng-hide="checked4"><input type="checkbox" data-ng-model="checked3">Management</span>
        <span data-ng-hide="checked3"><input type="checkbox" data-ng-model="checked4">Admin</span>
    </div>
    <br>
    <div data-ng-if="checked1" data-ng-submit='loggeTeilnehmer(daten)'>
        <div class="container">
            <label>E-Mail:</label>
            <br>
            <input type="text" placeholder="E-Mail-Adresse eingeben" data-ng-model='daten.email'>
        </div>
        <br>
        <div class="container">
            <label>Passwort:</label>
            <br>
            <input type="password" placeholder="Passwort eingeben" data-ng-model='daten.password'>
        </div>
        <br>
        <div class="container">
            <button data-ng-click='loggeTeilnehmer(daten)' class="loginButton">Login</button>&nbsp;&nbsp;
            <button class="cancelButton"><a href="#!/login"><g>Cancel</g></a></button>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <p>Passwort vergessen?</p>
            <p>Durch Klick auf den Button lassen wir dir so schnell wie möglich ein Neues zukommen.</p>
            <button data-ng-click='' class="cancelButton">neues Passwort anfragen</button>
        </div>
        <br>
        <br>
        <p>Du hast noch keinen Account?</p>
        <p>Dann registriere dich schnell !</p>
        <div>
            <button class="loginButton"><a href="#!/registration"><g>Registrieren</g></a></button>
        </div>
        <br>
    </div>
    <div data-ng-if="checked2" data-ng-submit='loggeVeranstalter(daten)'>
        <div class="container">
            <label>E-Mail:</label>
            <br>
            <input type="text" placeholder="E-Mail-Adresse eingeben" data-ng-model='daten.email'>
        </div>
        <br>
        <div class="container">
            <label>Passwort:</label>
            <br>
            <input type="password" placeholder="Passwort eingeben" data-ng-model='daten.password'>
        </div>
        <br>
        <div class="container">
            <button data-ng-click='loggeVeranstalter(daten)' class="loginButton" ><g>Login</g></button>&nbsp;&nbsp;
            <button class="cancelButton"><a href="#!/login"><g>Cancel</g></a></button>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <p>Passwort vergessen?</p>
            <p>Durch Klick auf den Button lassen wir dir so schnell wie möglich ein Neues zukommen.</p>
            <button data-ng-click='' class="cancelButton">neues Passwort anfragen</button>
        </div>
        <br>
        <p>Du hast noch keinen Account?</p>
        <p>Dann registriere dich schnell !</p>
        <div>
            <button class="loginButton"><a href="#!/registration"><g>Registrieren</g></a></button>
        </div>
        <br>
    </div>
    <div data-ng-if="checked3" data-ng-submit='loggeManagement(daten)'>
        <div class="container">
            <label>E-Mail:</label>
            <br>
            <input type="text" placeholder="E-Mail-Adresse eingeben" data-ng-model='daten.email'>
        </div>
        <br>
        <div class="container">
            <label>Passwort:</label>
            <br>
            <input type="password" placeholder="Passwort eingeben" data-ng-model='daten.password'>
        </div>
        <br>
        <div class="container">
            <button data-ng-click='loggeManagement(daten)' class="loginButton"><g>Login</g></button>&nbsp;&nbsp;
            <button class="cancelButton"><a href="#!/login"><g>Cancel</g></a></button>
        </div>
        <br>
        <br>
        <br>
        <div class="container">
            <p>Passwort vergessen?</p>
            <p>Durch Klick auf den Button lassen wir dir so schnell wie möglich ein Neues zukommen.</p>
            <button data-ng-click='' class="cancelButton">neues Passwort anfragen</button>
        </div>
        <br>
    </div>
    <div data-ng-if="checked4" data-ng-submit='loggeAdmin(daten)'>
        <div class="container">
            <label>E-Mail:</label>
            <br>
            <input type="text" placeholder="E-Mail-Adresse eingeben" data-ng-model='daten.email'>
        </div>
        <br>
        <div class="container">
            <label>Passwort:</label>
            <br>
            <input type="password" placeholder="Passwort eingeben" data-ng-model='daten.password'>
        </div>
        <br>
        <br>
        <div class="container">
            <button data-ng-click='loggeAdmin(daten)' class="loginButton" ><g>Login</g></button>&nbsp;&nbsp;
            <button class="cancelButton"><a href="#!/login"><g>Cancel</g></a></button>
        </div>
        <br>
    </div>
</div>
</div>
</div>

