<h1>Login</h1>
<div class="login">
    <div class="container">
        <label>für Teilnehmer und Veranstalter:</label>
        <input type="checkbox" data-ng-model="checked1">Teilnehmer
        <input type="checkbox" data-ng-model="checked2">Veranstalter
    </div>
    <br>
    <div class="container">
        <label>für Management und Admin:</label>
        <input type="checkbox" data-ng-model="checked3">Management
        <input type="checkbox" data-ng-model="checked4">Admin
    </div>
    <br>
    <div data-ng-if="checked1" data-ng-submit='loggeTeilnehmer(daten)'>
        <div class="container">
            <label>E-Mail:</label>
            <br>
            <input type="text" placeholder="E-Mail-Adresse eingeben" data-ng-model='daten.email'>
        </div>
        <br>
        <div class="container">
            <label>Passwort:</label>
            <br>
            <input type="text" placeholder="Passwort eingeben" data-ng-model='daten.password'>
        </div>
        <br>
        <br>
        <div class="container">
            <button data-ng-click='loggeTeilnehmer(daten)' class="loginButton"><a href="#!/event-search">Login</a></button>
            <button class="cancelButton">Cancel</button>
        </div>
        <br>
        <p>Du hast noch keinen Account?</p>
        <p>Dann registriere dich schnell !</p>
        <br>
        <div>
            <button class="loginButton" [routerlink]="/registration"><a href="#!/registration">Registrieren</a></button>
        </div>
    </div>
    <div data-ng-if="checked2" data-ng-submit='loggeVeranstalter(daten)'>
        <div class="container">
            <label>E-Mail:</label>
            <br>
            <input type="text" placeholder="E-Mail-Adresse eingeben" data-ng-model='daten.email'>
        </div>
        <br>
        <div class="container">
            <label>Passwort:</label>
            <br>
            <input type="text" placeholder="Passwort eingeben" data-ng-model='daten.password'>
        </div>
        <br>
        <br>
        <div class="container">
            <button data-ng-click='loggeVeranstalter(daten)' class="loginButton" ><a href="#!/request">Login</a></button>
            <button class="cancelButton">Cancel</button>
        </div>
        <br>
        <p>Du hast noch keinen Account?</p>
        <p>Dann registriere dich schnell !</p>
        <br>
        <div>
            <button class="loginButton" [routerlink]="/registration"><a href="#!/registration">Registrieren</a></button>
        </div>
    </div>
    <div data-ng-if="checked3" data-ng-submit='loggeManagement(management)'>
        <div class="container">
            <label>E-Mail:</label>
            <br>
            <input type="text" placeholder="E-Mail-Adresse eingeben" data-ng-model='daten.email'>
        </div>
        <br>
        <div class="container">
            <label>Passwort:</label>
            <br>
            <input type="text" placeholder="Passwort eingeben" data-ng-model='daten.password'>
        </div>
        <br>
        <br>
        <div class="container">
            <button data-ng-click='loggeManagement(management)' class="loginButton"><a href="#!/event-overview-management">Login</a></button>
            <button class="cancelButton">Cancel</button>
        </div>
    </div>
    <div data-ng-if="checked4" data-ng-submit='loggeAdmin(daten)'>
        <div class="container">
            <label>E-Mail:</label>
            <br>
            <input type="text" placeholder="E-Mail-Adresse eingeben" data-ng-model='daten.email'>
        </div>
        <br>
        <div class="container">
            <label>Passwort:</label>
            <br>
            <input type="text" placeholder="Passwort eingeben" data-ng-model='daten.password'>
        </div>
        <br>
        <br>
        <div class="container">
            <button data-ng-click='loggeAdmin(daten)' class="loginButton" ><a href="#!/event-overview-admin">Login</a></button>
            <button class="cancelButton">Cancel</button>
        </div>
    </div>
</div>

