<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <a href='#!/dashboard'><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    <a href='#!/room-overview'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/offer-create' class="currentPage"><i class="fa fa-fw fa-plus"></i> Angebot erstellen</a>
    <a href='#!/events'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <hr>
    <a href='#!/settings'><i class="fa fa-fw fa-gear"></i> Einstellungen</a>
</div>
<div id="roomModify">
    <h2>Angebot erstellen</h2>
    <h3>Nutzer auswählen</h3>
    <p>Nutzer-ID:  <input type="number" placeholder="N-ID"></p>
    <hr>
    <h3>Raum auswählen</h3>
    <p>Raum-Nr.:  <input type="number" placeholder="R-ID"></p>
    <hr>
    <h3>Datum auswählen</h3>
    <p>von:  <input type="date"></p>
    <p>bis:  <input type="date"></p>
    <div>
        <button class="loginButton">Angebot senden</button>
    </div>
</div>
