<div class="sidenav">
    <h1>Teilnehmer</h1>
    <a href='#!/profile-participant' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><b>{{teilnehmer.vorname + ' ' + teilnehmer.name}}</b><p id="emailSidebar">{{teilnehmer.email}}</p></a>
    <hr>
    <br>
    <a href='#!/event-search-participant'><i class="fa fa-fw fa-search"></i> Veranstaltungssuche</a>
    <a href='#!/event-overview-participant'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <a href='#!/email-participant'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>
<div id="profile">
    <button class="profileButton"><a href="#!/profile-modify-participant/{{teilnehmer._id}}">Profil bearbeiten</a></button>
    <h2>Mein Profil</h2>
    <h3>Aktuelle Daten</h3>
    <p>Vorname:  {{teilnehmer.vorname}}</p>
    <hr>
    <p>Nachname:  {{teilnehmer.name}}</p>
    <hr>
    <p>E-Mail-Adresse:  {{teilnehmer.email}}</p>
    <hr>
    <p>Passwort:  *************</p>
    <hr>
    <p>Nutzertyp:  Teilnehmer</p>
    <div id="logoutButton">
        <button data-ng-click='loggeOut()' class="loginButton"><a href="#!/login">Abmelden</a></button>
    </div>
</div>
