<div class="sidenav">
    <h5>Management</h5>
    <a href='#!/profile-management' class="currentPage"><e><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{management.vorname + ' ' + management.name}}<br><c>{{management.email}}</c></p></e></a>
    <hr>
    <br>
    <a href='#!/room-overview-management'><i class="fa fa-fw fa-list"></i> Räume</a>
    <br>
    <a href='#!/event-create-management'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <br>
    <a href='#!/event-overview-management'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <br>
    <a href='#!/email-management'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <br>
    <a href='#!/stats-management'><i class="fa fa-fw fa-dashboard"></i> Statistiken</a>
</div>

<div id="profile">
    <h2>Mein Profil</h2>
    <h3>Aktuelle Daten</h3>
    <br>
    <p>Vorname:  <f>{{management.vorname}}</f></p>
    <hr><br>
    <p>Nachname:  <f>{{management.name}}</f></p>
    <hr><br>
    <p>E-Mail-Adresse:  <f>{{management.email}}</f></p>
    <hr><br>
    <p>Passwort: <f>*************</f></p>
    <hr><br>
    <p>Nutzertyp:  <f>Management</f></p>
    <hr><br>
    <button data-ng-click='loggeOut()' id="logoutButton"><a href="#!/login">Abmelden</a></button>
    <br><br>
</div>
