<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile-management' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><b>{{management.vorname + ' ' + management.name}}</b><p id="emailSidebar">{{management.email}}</p></a>
    <hr>
    <br>
    <a href='#!/room-overview-management'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/event-create-management'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <a href='#!/event-overview-management'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email-management'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <a href='#!/stats-management'><i class="fa fa-fw fa-dashboard"></i> Statistiken</a>
</div>
<div id="profile">
    <button class="profileButton"><a href="#!/profile-modify-management">Profil bearbeiten</a></button>
    <h2>Mein Profil</h2>
    <h3>Aktuelle Daten</h3>
    <p>Vorname:  {{management.vorname}}</p>
    <hr>
    <p>Nachname:  {{management.name}}</p>
    <hr>
    <p>E-Mail-Adresse:  {{management.email}}</p>
    <hr>
    <p>Passwort: *************</p>
    <hr>
    <p>Nutzertyp:  Management</p>
    <div id="logoutButton">
        <button data-ng-click='loggeOut()' class="loginButton"><a href="#!/login">Abmelden</a></button>
    </div>
</div>
