<div class="sidenav">
    <h1>Teilnehmer</h1>
    <a href='#!/profile-participant' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <br>
    <a href='#!/event-search-participant'><i class="fa fa-fw fa-search"></i> Veranstaltungssuche</a>
    <a href='#!/event-overview-participant'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <a href='#!/email-participant'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>
<div id="roomModify" data-ng-submit="updateTeilnehmer(teilnehmer)">
    <h2>Profil bearbeiten<i class="fa fa-fw fa-trash"></i></h2>
    <h3>Nachname ändern</h3>
    <p>aktueller Nachname:  {{teilnehmer.name}}</p>
    <p>neuer Nachname:  <input type="text" placeholder="neuer Nachname" data-ng-model="teilnehmer.name"></p>
    <hr>
    <h3>E-Mail-Adresse ändern</h3>
    <p>aktuelle E-Mail-Adresse:  {{teilnehmer.email}}</p>
    <p>neue E-Mail-Adresse:  <input type="text" placeholder="neue E-Mail-Adresse" data-ng-model="teilnehmer.email"></p>
    <hr>
    <h3>Passwort ändern</h3>
    <p>aktuelles Passwort:  {{teilnehmer.password}}</p>
    <p>neues Passwort:  <input type="text" placeholder="neues Passwort" data-ng-model="teilnehmer.password"></p>
    <hr>
    <h3>Passwort wiederholen</h3>
    <input type="text" placeholder="Passwort wiederholen" data-ng-model="teilnehmer.password2">
    <br>
    <br>
    <div>
        <button class="loginButton" data-ng-click="updateTeilnehmer(teilnehmer)">Änderung bestätigen</button>
    </div>
</div>
