<div class="sidenav">
    <h1>Admin</h1>
    <a href='#!/profile-admin'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <br>
    <a href='#!/user-create-admin'><i class="fa fa-fw fa-users"></i> User erstellen</a>
    <a href='#!/room-overview-admin'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/event-create-admin'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <a href='#!/event-overview-admin'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email-admin'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <a href='#!/stats-admin'><i class="fa fa-fw fa-dashboard"></i> Statistiken</a>
</div>
<div id="roomModify" data-ng-submit="updateAdmin(admin)">
    <h2>Profil bearbeiten<i class="fa fa-fw fa-trash"></i></h2>
    <h3>E-Mail-Adresse ändern</h3>
    <p>aktuelle E-Mail-Adresse:  {{admin.email}}</p>
    <p>neue E-Mail-Adresse:  <input type="text" placeholder="neue E-Mail-Adresse" data-ng-model="admin.email"></p>
    <hr>
    <h3>Passwort ändern</h3>
    <p>aktuelles Passwort:  {{admin.password}}</p>
    <p>neues Passwort:  <input type="text" placeholder="neues Passwort" data-ng-model="admin.password"></p>
    <hr>
    <h3>Passwort wiederholen</h3>
    <input type="text" placeholder="Passwort wiederholen" data-ng-model="admin.password2">
    <br>
    <br>
    <div>
        <button class="loginButton" data-ng-click="updateAdmin(admin)">Änderung bestätigen</button>
    </div>
</div>
