<div class="sidenav">
    <h1>Veranstalter</h1>
    <a href='#!/profile-host' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><b>{{veranstalter.vorname + ' ' + veranstalter.name}}</b><p id="emailSidebar">{{veranstalter.email}}</p></a>
    <hr>
    <br>
    <a href='#!/request-host'><i class="fa fa-fw fa-plus"></i> Anfrage erstellen</a>
    <a href='#!/event-overview-host'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <a href='#!/email-host'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>
<div id="profile">
    <button class="profileButton"><a href="#!/profile-modify-host/{{veranstalter._id}}">Profil bearbeiten</a></button>
    <h2>Mein Profil</h2>
    <h3>Aktuelle Daten</h3>
    <p>Vorname: {{veranstalter.vorname}}</p>
    <hr>
    <p>Nachname: {{veranstalter.name}}</p>
    <hr>
    <p>E-Mail-Adresse: {{veranstalter.email}}</p>
    <hr>
    <p>Unternehmen: {{veranstalter.unternehmen}}</p>
    <hr>
    <p>Passwort: *************</p>
    <hr>
    <p>Nutzertyp:  Veranstalter</p>
    <div id="logoutButton">
        <button data-ng-click='loggeOut' class="loginButton"><a href="#!/login">Abmelden</a></button>
    </div>
</div>
