<div class="sidenav">
    <h5>Teilnehmer</h5>
    <a href='#!/profile-participant' class="currentPage"><e><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{teilnehmer.vorname + ' ' + teilnehmer.name}}<br><c>{{teilnehmer.email}}</c></p></e></a>
    <hr>
    <br>
    <a href='#!/event-search-participant'><i class="fa fa-fw fa-search"></i> Veranstaltungssuche</a>
    <br>
    <a href='#!/event-overview-participant'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <br>
    <a href='#!/email-participant'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>

<div id="profile">
    <button class="profileButton"><a href="#!/profile-modify-participant/{{teilnehmer._id}}">Profil bearbeiten</a></button>
    <h2>Mein Profil</h2>
    <h3>Aktuelle Daten</h3>
    <br>
    <p>Vorname:  {{teilnehmer.vorname}}</p>
    <hr><br>
    <p>Nachname:  {{teilnehmer.name}}</p>
    <hr><br>
    <p>E-Mail-Adresse:  {{teilnehmer.email}}</p>
    <hr><br>
    <p>Passwort: *************</p>
    <hr><br>
    <p>Nutzertyp:  Teilnehmer</p>
    <hr><br>
    <button data-ng-click='loggeOut()' id="logoutButton"><a href="#!/login">Abmelden</a></button>
    <br><br>
</div>
