<div class="sidenav">
    <h5>Veranstalter</h5>
    <a href='#!/profile-host' class="currentPage"><e><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{veranstalter.vorname + ' ' + veranstalter.name}}<br><c>{{veranstalter.email}}</c></p></e></a>
    <hr>
    <br>
    <a href='#!/request-host'><i class="fa fa-fw fa-plus"></i> Anfrage erstellen</a>
    <br>
    <a href='#!/event-overview-host'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <br>
    <a href='#!/email-host'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>

<div id="roomModify" data-ng-submit="updateVeranstalter(neuerVeranstalter)">
    <h2>Profil bearbeiten<a href="#!/login"><button class="deleteButton" id="trashIcon" data-ng-click="loescheVeranstalter()"><i class="fa fa-fw fa-trash"></i></button></a></h2>
    <h3>Nachname ändern</h3>
    <p class="modifyText">aktueller Nachname: <a> {{veranstalter.name}}</a></p>
    <p class="modifyText">neuer Nachname:  <input type="text" placeholder="neuer Nachname" class="fieldChange" data-ng-model="neuerVeranstalter.name"></p>
    <hr>
    <h3>E-Mail-Adresse ändern</h3>
    <p class="modifyText">aktuelle E-Mail-Adresse:  <a>{{veranstalter.email}}</a></p>
    <p class="modifyText">neue E-Mail-Adresse:  <input type="text" placeholder="neue E-Mail-Adresse" class="fieldChange" data-ng-model="neuerVeranstalter.email"></p>
    <hr>
    <h3>Passwort ändern</h3>
    <p class="modifyText">aktuelles Passwort:  <a>{{veranstalter.password}}</a></p>
    <p class="modifyText">neues Passwort:  <input type="text" placeholder="neues Passwort" class="fieldChange" data-ng-model="neuerVeranstalter.password"></p>
    <hr>
    <h3>Passwort wiederholen</h3>
    <p class="modifyText">neues Passwort: <input type="text" placeholder="Passwort wiederholen" class="fieldChange" data-ng-model="neuerVeranstalter.password2"></p>
    <hr><br>
    <div>
        <a href="#!/profile-host"><button id="logoutButton" data-ng-click="updateVeranstalter(neuerVeranstalter)">Änderung bestätigen</button></a>
    </div>
    <br><br><br>
</div>
