<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <a href='#!/dashboard'><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    <a href='#!/room-overview'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/offer-create'><i class="fa fa-fw fa-plus"></i> Angebot erstellen</a>
    <a href='#!/events'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <hr>
    <a href='#!/settings'><i class="fa fa-fw fa-gear"></i> Einstellungen</a>
</div>
<div id="profile">
    <h2>Mein Profil<i class="fa fa-fw fa-trash"></i></h2>
    <h3>Aktuelle Daten</h3>
    <p>Vor- und Nachname:  Klaus Fischer<button class="profileButton">Ändern</button></p>
    <hr>
    <p>E-Mail-Adresse:  klaus@fischer.de<button class="profileButton">Ändern</button></p>
    <hr>
    <p>Passwort:  Password123<button class="profileButton">Ändern</button></p>
    <hr>
    <p>Nutzertyp:  Management</p>
    <div id="logutButton">
        <button class="loginButton">Abmelden</button>
    </div>
</div>
