<div class="sidenav">
    <h5>Admin</h5>
    <a href='#!/profile-admin' class="currentPage"><e><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{admin.vorname + ' ' + admin.name}}<br><c>{{admin.email}}</c></p></e></a>
    <hr>
    <br>
    <a href='#!/user-overview-admin'><i class="fa fa-fw fa-users"></i> Management-User</a>
    <br>
    <a href='#!/room-overview-admin'><i class="fa fa-fw fa-list"></i> Räume</a>
    <br>
    <a href='#!/event-create-admin'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <br>
    <a href='#!/event-overview-admin'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <br>
    <a href='#!/bills-admin'><i class="fa fa-fw fa-dollar"></i> Abrechnung</a>
    <br>
    <a href='#!/email-admin'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <br>
    <a href='#!/stats-admin'><i class="fa fa-fw fa-dashboard"></i> Statistiken</a>
</div>
<div id="profile">
    <h2>Mein Profil</h2>
    <h3>Aktuelle Daten</h3>
    <br>
    <p>Vorname:  <f>{{admin.vorname}}</f></p>
    <hr><br>
    <p>Nachname:  <f>{{admin.name}}</f></p>
    <hr><br>
    <p>E-Mail-Adresse:  <f>{{admin.email}}</f></p>
    <hr><br>
    <p>Passwort: <f>*************</f></p>
    <hr><br>
    <p>Nutzertyp:  <f>Admin</f></p>
    <hr><br>
    <button data-ng-click='loggeOut()' id="logoutButton"><a href="#!/login"><g>Abmelden</g></a></button>
    <br><br>
</div>
