<div class="sidenav">
    <h5>Teilnehmer</h5>
    <a href='#!/profile-participant' class="currentPage"><e><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{teilnehmer.vorname + ' ' + teilnehmer.name}}<br><c>{{teilnehmer.email}}</c></p></e></a>
    <hr>
    <br>
    <a href='#!/event-search-participant'><i class="fa fa-fw fa-search"></i> Veranstaltungssuche</a>
    <br>
    <a href='#!/event-overview-participant'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
</div>

<div id="profile">
    <button class="profileButton"><a href="#!/profile-modify-participant/{{teilnehmer._id}}"><g>Profil bearbeiten</g></a></button>
    <h2>Mein Profil</h2>
    <h3>Aktuelle Daten</h3>
    <br>
    <p>Vorname:  <f>{{teilnehmer.vorname}}</f></p>
    <hr><br>
    <p>Nachname:  <f>{{teilnehmer.name}}</f></p>
    <hr><br>
    <p>E-Mail-Adresse:  <f>{{teilnehmer.email}}</f></p>
    <hr><br>
    <p>Passwort: <f>*************</f></p>
    <hr><br>
    <p>Nutzertyp:  <f>Teilnehmer</f></p>
    <hr><br>
    <button data-ng-click='loggeOut()' id="logoutButton"><a href="#!/login"><g>Abmelden</g></a></button>
    <br><br>
</div>
