<div class="sidenav">
    <h5>Veranstalter</h5>
    <a href='#!/profile-host' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{veranstalter.vorname + ' ' + veranstalter.name}}<br><c>{{veranstalter.email}}</c></p></a>
    <hr>
    <br>
    <a href='#!/request-host'><i class="fa fa-fw fa-plus"></i> Anfrage erstellen</a>
    <br>
    <a href='#!/event-overview-host'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <br>
    <a href='#!/email-host'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>

<div id="request" data-ng-submit='anfragen(daten)'>
    <br>
    <p class="requestText">Meetings, Seminare, Kurse aller Art, nutze unser großes Angebot an Räumlichkeiten.</p>
    <label>Welche Veranstaltung planst du?</label>
    <br>
    <br>
    <input type="text" placeholder="Titel der Veranstaltung"  data-ng-model='daten.titel'>
    <br>
    <hr>
    <br>
    <p class="requestText">Du kannst bis zu 100 Personen an deinem Event teilnehmen lassen. Je nach erwarteter Teilnehmerzahl werden wir dir einen passenden Raum bieten.</p>
    <label>Wie viel Platz brauchst du?</label>
    <br>
    <br>
    <input type="number" placeholder="max. 100" max="100" data-ng-model='daten.kapazitaet'>
    <br>
    <hr>
    <br>
    <p class="requestText">Du kannst deinen Raum bis zu sieben Tage am Stück buchen, solange du dabei innerhalb einer Kalenderwoche bleibst.</p>
    <label>Wann soll deine Veranstaltung stattfinden?</label>
    <br>
    <br>
    <input type="date" placeholder="von" data-ng-model='daten.start_datum'>
    <input type="date" placeholder="bis" data-ng-model='daten.end_datum'>
    <br>
    <hr>
    <br>
    <p class="requestText">Mache deine Veranstaltung für jeden sichtbar oder bestimme selbst, wer an deiner Veranstaltung teilnehmen darf.</p>
    <label>Für wen soll deine Veranstaltung sichtbar sein?</label>
    <br>
    <br>
    <input type="checkbox" data-ng-model='daten.angebotsstatus' data-ng-true-value="'Öffentlich'">öffentlich&nbsp;<input type="checkbox" data-ng-model='daten.angebotsstatus' data-ng-true-value="'Privat'">geschlossen
    <br>
    <hr>
    <br>
    <p class="requestText">Zusatzleistungen die gebucht werden können sind z.B. Catering, Getränke oder zusätzliche technische Ausstattung</p>
    <label>Sollen Zusatzleistungen gebucht werden?</label>
    <br>
    <br>
    <input type="text" placeholder="z.B. Catering, ..." data-ng-model="daten.zusatzleistungen">
    <br>
    <hr>
    <br>
    <div>
        <button data-ng-click='anfragen(daten)' id="logoutButton">Anfragen</button>
    </div>
    <br><br>
</div>

