<div id="request">
    <label>Welche Veranstaltung planst du?</label>
    <br>
    <p class="requestText">Meetings, Seminare, Kurse aller Art, nutze unser großes Angebot an Räumlichkeiten.</p>
    <br>
    <input type="text" placeholder="z. B. Yogakurs">
    <br>
    <hr>
    <br>
    <label>Wie viel Platz brauchst du?</label>
    <br>
    <p class="requestText">Du kann bis zu 50 Personen an deinem Event teilnehmen lassen.</p>
    <br>
    <input type="number" placeholder="max. 50" max="50">
    <br>
    <hr>
    <br>
    <label>Wann soll deine Veranstaltung stattfinden?</label>
    <br>
    <p class="requestText">Du kannst deinen Raum bis zu sieben Tage am Stück buchen, solange du dabei innerhalb einer Kalenderwoche bleibst.</p>
    <br>
    <input type="date" placeholder="von">
    <input type="date" placeholder="bis">
    <br>
    <div>
        <button class="loginButton">Anfragen</button>
    </div>
</div>
