<div class="sidenav">
    <h1>Veranstalter</h1>
    <a href='#!/profile-host'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <br>
    <a href='#!/request' class="currentPage"><i class="fa fa-fw fa-plus"></i> Anfrage erstellen</a>
    <a href='#!/event-overview-host'><i class="fa fa-fw fa-calendar"></i> Meine Veranstaltungen</a>
    <a href='#!/email-host'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
</div>
<div id="request">
    <p class="requestText">Meetings, Seminare, Kurse aller Art, nutze unser großes Angebot an Räumlichkeiten.</p>
    <label>Welche Veranstaltung planst du?</label>
    <br>
    <br>
    <input type="text" placeholder="Titel der Veranstaltung">
    <br>
    <hr>
    <br>
    <p class="requestText">Du kannst bis zu 100 Personen an deinem Event teilnehmen lassen. Je nach erwarteter Teilnehmerzahl werden wir dir einen passenden Raum bieten.</p>
    <label>Wie viel Platz brauchst du?</label>
    <br>
    <br>
    <input type="number" placeholder="max. 100" max="100">
    <br>
    <hr>
    <br>
    <p class="requestText">Du kannst deinen Raum bis zu sieben Tage am Stück buchen, solange du dabei innerhalb einer Kalenderwoche bleibst.</p>
    <label>Wann soll deine Veranstaltung stattfinden?</label>
    <br>
    <br>
    <input type="date" placeholder="von">
    <input type="date" placeholder="bis">
    <br>
    <hr>
    <br>
    <p class="requestText">Mache deine Veranstaltung für jeden sichtbar oder bestimme selbst, wer an deiner Veranstaltung teilnehmen darf.</p>
    <label>Für wen soll deine Veranstaltung sichtbar sein?</label>
    <br>
    <br>
    <input type="radio" name="visibility">öffentlich<input type="radio" name="visibility">geschlossen
    <br>
    <br>
    <div>
        <button class="loginButton">Anfragen</button>
    </div>
</div>

