<h1 id="roomText">Alle Räume</h1>
<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <a href='#!/dashboard'><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    <a href='#!/room-overview' class="currentPage"><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/event-create'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <a href='#!/event-overview'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <hr>
    <a href='#!/settings'><i class="fa fa-fw fa-gear"></i> Einstellungen</a>
</div>
<table border="6">
    <tr>
        <th>Raum-Nr.</th>
        <th>Größe</th>
        <th>Preis pro Tag</th>
        <th></th>
    </tr>
    <tr data-ng-repeat="raum in raeume">
        <td>{{raum.raumNr}}</td>
        <td>{{raum.kapazitaet}}</td>
        <td>{{raum.raumpreis}}</td>
        <td><a href="#!/room-modify"><i class="fa fa-fw fa-pencil" [routerlink]="/room-modify"></i></a></td>
    </tr>
    <tr>
        <td colspan="4"><a href="#!/room-create"><button class="addRoomButton" [routerlink]="/room-create">+ weiteren Raum hinzufügen ...</button></a></td>
    </tr>
</table>
