<div class="sidenav">
    <h5>Management</h5>
    <a href='#!/profile-management' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{management.vorname + ' ' + management.name}}<br><c>{{management.email}}</c></p></a>
    <hr>
    <br>
    <a href='#!/room-overview-management'><e><i class="fa fa-fw fa-list"></i> Räume</e></a>
    <br>
    <a href='#!/event-create-management'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <br>
    <a href='#!/event-overview-management'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <br>
    <a href='#!/bills-management'><i class="fa fa-fw fa-dollar"></i> Abrechnung</a>
</div>

<div id="roomModify" data-ng-submit='updateRaum(neuerRaum)'>
    <h2>Raum {{raum.raumNr}}<button id="trashIcon" class="deleteButton" data-ng-click="loescheRaum()"><i class="fa fa-fw fa-trash"></i></button></h2>
    <br>
    <h3>Verfügbarkeit prüfen</h3>
    <p class="modifyText">von:  <input type="date" class="fieldDate"></p>
    <p class="modifyText">bis:  <input type="date" class="fieldDate"></p>
    <hr>
    <h3>Neuen Preis festlegen</h3>
    <p class="modifyText">aktueller Preis: <a>{{raum.raumpreis}}€</a></p>
    <p class="modifyText">neuer Preis:  <input type="number" placeholder="neuer Preis" class="fieldNumber" data-ng-model='neuerRaum.raumpreis'></p>
    <hr>
    <h3>Kapazität ändern</h3>
    <p class="modifyText">aktuelle Kapazität: <a>{{raum.kapazitaet}}</a></p>
    <p class="modifyText">neue Kapazität:  <input type="number" placeholder="max. 100" max="100" class="fieldNumber" ata-ng-model='neuerRaum.kapazitaet'></p>
    <hr><br>
    <div>
        <a href="#!/room-overview-management"><button data-ng-click='updateRaum(neuerRaum)' id="logoutButton"><g>Änderung bestätigen</g></button></a>
    </div>
    <br><br><br>
</div>
