<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile' id="sidebarProfile"><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <a href='#!/dashboard'><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    <a href='#!/room-overview'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/offer-create'><i class="fa fa-fw fa-plus"></i> Angebot erstellen</a>
    <a href='#!/events'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <hr>
    <a href='#!/settings'><i class="fa fa-fw fa-gear"></i> Einstellungen</a>
</div>
<div id="roomModify">
    <h2>Raum 1<i class="fa fa-fw fa-trash"></i></h2>
    <h3>Verfügbarkeit prüfen</h3>
    <p>von:  <input type="date"></p>
    <p>bis:  <input type="date"></p>
    <hr>
    <h3>Neuen Preis festlegen (in €)</h3>
    <p>aktueller Preis:  75</p>
    <p>neuer Preis:  <input type="number" placeholder="neuer Preis"></p>
    <hr>
    <h3>Kapazität ändern</h3>
    <p>aktuelle Kapazität:  20</p>
    <p>neue Kapazität:  <input type="number" placeholder="max. 50" max="50"></p>
    <div>
        <button class="loginButton">Änderung bestätigen</button>
    </div>
</div>
