<div class="sidenav">
    <h5>Admin</h5>
    <a href='#!/profile-admin' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{admin.vorname + ' ' + admin.name}}<br><c>{{admin.email}}</c></p></a>
    <hr>
    <br>
    <a href='#!/user-overview-admin'><i class="fa fa-fw fa-users"></i> User-Übersicht</a>
    <br>
    <a href='#!/room-overview-admin'><e><i class="fa fa-fw fa-list"></i> Räume</e></a>
    <br>
    <a href='#!/event-create-admin'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <br>
    <a href='#!/event-overview-admin'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <br>
    <a href='#!/bills-admin'><i class="fa fa-fw fa-dollar"></i> Abrechnung</a>
</div>

<div id="roomModify">
    <h2>Raum {{raum.raumNr}}<button class="deleteButton" id="trashIcon" data-ng-click="loescheRaum()"><i class="fa fa-fw fa-trash"></i></button></h2>
    <h3>Verfügbarkeit prüfen</h3>
    <p class="modifyText">von:  <input type="date" class="fieldDate" data-ng-model="datum.start_datum"></p>
    <p class="modifyText">bis:  <input type="date" class="fieldDate" data-ng-model="datum.start_datum"></p>
    <button id="logoutButton" data-ng-click="pruefeVerfuegbarkeit(datum)"><g>Verfügbarkeit prüfen</g></button>
    <br><br><br>
    <hr>
    <h3>Neuen Preis festlegen</h3>
    <p class="modifyText">aktueller Preis:  <a>{{raum.raumpreis}}€</a></p>
    <p class="modifyText">neuer Preis:  <input type="number" placeholder="neuer Preis" class="fieldNumber" data-ng-model='neuerRaum.raumpreis'></p>
    <hr>
    <h3>Kapazität ändern</h3>
    <p class="modifyText">aktuelle Kapazität:  <a>{{raum.kapazitaet}}</a></p>
    <p class="modifyText">neue Kapazität:  <input type="number" placeholder="max. 100" max="100" class="fieldNumber" data-ng-model='neuerRaum.kapazitaet'></p>
    <hr><br>
    <div>
        <a href="#!/room-overview-admin"><button data-ng-click="updateRaum(neuerRaum)" id="logoutButton"><g>Änderung bestätigen</g></button></a>
    </div>
    <br><br><br>
</div>
