<div class="sidenav">
    <h5>Management</h5>
    <a href='#!/profile-management' class="currentPage"><i class="fa fa-fw fa-user" id="userIcon"></i><p>{{management.vorname + ' ' + management.name}}<br><c>{{management.email}}</c></p></a>
    <hr>
    <br>
    <a href='#!/room-overview-management'><e><i class="fa fa-fw fa-list"></i> Räume</e></a>
    <br>
    <a href='#!/event-create-management'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <br>
    <a href='#!/event-overview-management'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <br>
    <a href='#!/bills-management'><i class="fa fa-fw fa-dollar"></i> Abrechnung</a>
</div>

<form id="createForm" data-ng-submit='erstelleRaum(raum)'>
    <h1>Neuer Raum</h1>
    <h3>Raumnummer festlegen</h3>
    <input type="number" placeholder="RID" data-ng-model='raum.raumNr'>
    <br>
    <hr>
    <br>
    <h3>Preis festlegen</h3>
    <input type="number" placeholder="Preis in €" data-ng-model='raum.raumpreis'>
    <br>
    <hr>
    <br>
    <h3>Kapazität festlegen</h3>
    <input type="number" placeholder="max. 100" max="100" data-ng-model='raum.kapazitaet'>
    <br>
    <hr>
    <br>
    <a href="#!/room-overview-management"><input type="submit" class="sendButton"></a>
</form>
