<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile-management'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <br>
    <a href='#!/room-overview-management'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/event-create-management'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <a href='#!/event-overview-management'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email-management'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <a href='#!/stats-management'><i class="fa fa-fw fa-dashboard"></i> Statistiken</a>
</div>
<div id="roomModify" data-ng-submit='updateRaum(neuerRaum)'>
    <h2>Raum {{raum.raumNr}} <i class="fa fa-fw fa-trash"></i></h2>
    <h3>Verfügbarkeit prüfen</h3>
    <p>von:  <input type="date"></p>
    <p>bis:  <input type="date"></p>
    <hr>
    <h3>Neuen Preis festlegen (in €)</h3>
    <p>aktueller Preis: {{raum.raumpreis}}</p>
    <p>neuer Preis:  <input type="number" placeholder="neuer Preis" data-ng-model='neuerRaum.raumpreis'></p>
    <hr>
    <h3>Kapazität ändern</h3>
    <p>aktuelle Kapazität: {{raum.kapazitaet}}</p>
    <p>neue Kapazität:  <input type="number" placeholder="max. 100" max="100" data-ng-model='neuerRaum.kapazitaet'></p>
    <div>
        <button data-ng-click='updateRaum(neuerRaum)' class="loginButton">Änderung bestätigen</button>
    </div>
</div>
