<div class="sidenav">
    <h1>Management</h1>
    <a href='#!/profile'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <a href='#!/dashboard'><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
    <a href='#!/room-overview'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/offer-create'><i class="fa fa-fw fa-plus"></i> Angebot erstellen</a>
    <a href='#!/events'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <hr>
    <a href='#!/settings'><i class="fa fa-fw fa-gear"></i> Einstellungen</a>
</div>
<div id="roomModify">
    <h1>Neuer Raum</h1>
    <br>
    <h3>Preis festlegen (in €)</h3>
    <p>Preis:</p>
    <input type="number" placeholder="Preis">
    <br>
    <hr>
    <br>
    <h3>Kapazität festlegen</h3>
    <p>Kapazität:</p>
    <input type="number" placeholder="max. 50" max="50">
    <br>
    <br>
    <br>
    <div>
        <button class="loginButton">Raum anlegen</button>
    </div>
</div>
