<div class="sidenav">
    <h1>Admin</h1>
    <a href='#!/profile-admin'><i class="fa fa-fw fa-user" id="userIcon"></i><b>Klaus Fischer</b><p>klaus@fischer.de</p></a>
    <hr>
    <br>
    <a href='#!/user-create'><i class="fa fa-fw fa-users"></i> User erstellen</a>
    <a href='#!/room-overview-admin'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/event-create-admin'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <a href='#!/event-overview-admin'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email-admin'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <a href='#!/stats-admin' class="currentPage"><i class="fa fa-fw fa-dashboard"></i> Statistiken</a>
</div>
