<div class="sidenav">
    <h1>Admin</h1>
    <a href='#!/profile-admin'><i class="fa fa-fw fa-user" id="userIcon"></i><p id="emailSidebar">{{admin.email}}</p></a>
    <hr>
    <br>
    <a href='#!/user-overview-admin'><i class="fa fa-fw fa-users"></i> Management-User</a>
    <a href='#!/room-overview-admin'><i class="fa fa-fw fa-list"></i> Räume</a>
    <a href='#!/event-create-admin'><i class="fa fa-fw fa-plus"></i> Veranstaltung erstellen</a>
    <a href='#!/event-overview-admin'><i class="fa fa-fw fa-calendar"></i> Veranstaltungen</a>
    <a href='#!/email-admin'><i class="fa fa-fw fa-envelope"></i> E-Mail</a>
    <a href='#!/stats-admin'><i class="fa fa-fw fa-dashboard"></i> Statistiken</a>
</div>
<div id="roomModify" data-ng-submit="updateManagement(neuerManagement)">
    <h2>Profil bearbeiten<a href="#!/user-overview-admin"><button class="deleteButton" data-ng-click="loescheManagement()"><i class="fa fa-fw fa-trash"></i></button></a></h2>
    <h3>Nachname ändern</h3>
    <p>aktueller Nachname:  {{management.name}}</p>
    <p>neuer Nachname:  <input type="text" placeholder="neuer Nachname" data-ng-model="neuerManagement.name"></p>
    <hr>
    <h3>E-Mail-Adresse ändern</h3>
    <p>aktuelle E-Mail-Adresse:  {{management.email}}</p>
    <p>neue E-Mail-Adresse:  <input type="text" placeholder="neue E-Mail-Adresse" data-ng-model="neuerManagement.email"></p>
    <hr>
    <h3>Passwort ändern</h3>
    <p>aktuelles Passwort:  {{management.password}}</p>
    <p>neues Passwort:  <input type="text" placeholder="neues Passwort" data-ng-model="neuerManagement.password"></p>
    <hr>
    <h3>Passwort wiederholen</h3>
    <input type="text" placeholder="Passwort wiederholen" data-ng-model="neuerManagement.password2">
    <br>
    <br>
    <div>
        <a href="#!/user-overview-admin"><button data-ng-click="updateManagement(neuerManagement)" class="loginButton">Änderung bestätigen</button></a>
    </div>
</div>
