<div class="sidebar">
  <div id="sidebar-header">
    <h1> Management</h1>
  </div>
  <div id="sidebar-user">
    <h2> Klaus Fischer</h2>
  </div>
  <div class="sidebar-list">
    <ul class="sidebar-list-nav-item">
      <li class="nav-item">
        <a class="nav-link" href="dashboard.html">
          <span class="icon"><fa-icon icon="fafilm"></fa-icon></span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="raeume.html">
          <span class="title">Raeume</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="angebot.html">
          <span class="title">Angebot erstellen</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="veranstaltungen.html">
          <span class="title">Veranstaltungen</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="email.html">
          <span class="title">Email</span>
        </a>
      </li>
    </ul>
  </div>
</div>


