<div class="sidebar">
  <div id="sidebar-header">
    <h1> Management</h1>
  </div>
  <div id="sidebar-user">
    <h2> Klaus Fischer</h2>
  </div>
  <div class="sidebar-list">
    <ul class="sidebar-list-nav-item">
      <li class="nav-item">
        <a class="nav-link">
          <span class="icon"><fa-icon icon="fafilm"></fa-icon></span>
          <span class="title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <span class="icon"><i class="fas fa-columns"></i></span>
          <span class="title">Raeume</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> Angebot erstellen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> Veranstaltungen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> Email</a>
      </li>
    </ul>
  </div>
</div>
