body {
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
	font-size: 16px;
}

header {
	font-size: 40px;
	padding: 5px;
	width: 99.5%;
	border-bottom: #cdcdcd groove 0.1px;
	background-color: #ffffff;
	color: #29b2d9;
	position: fixed;
	top: 0;
	left: 0;
	height: 60px;
	z-index: 3;
}

#wrapper { /*Header hat so 100% Höhe des Bildschrimfensters*/
	height: 100%;
	width: 1000px;
	position: relative;
	margin: 0 auto;
	z-index: 1;
}

#content {  /*obere Zeilen Login und Registrierung beginnen erst unterhalb Header*/
	margin-top: 55px;
	width: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
}

.sidenav { /*Navigationsleiste*/
	height: 100%;
	margin-top: 50px;
	width: 278px; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	bottom: 0;
	background-color: #ffffff;
	overflow-x: hidden; /* Disable horizontal scroll */
	margin-left: 0;
	border: #ffffff groove 0.1px;
	box-shadow: 10px 10px 15px silver;
}
.sidenav a { /*Navigationsleiste links*/
	padding: 2%;
	margin: 4%;
	text-decoration: none;
	font-size: 20px;
	color: #000000;
	display: block;
}
.sidenav a:hover { /* When you mouse over the navigation links, change their color */
	color: #29b2d9;
}
.sidenav a:active {
	color: #29b2d9;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

h4 {
	text-align: center;
}

h5 {
	color: #29b2d9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	text-align: center;
}

label {
	font-size: 20px;
}

input {
	border-radius: 12px;
	padding: 0.5%;
	padding-left: 1%;
	margin-top: 5px;
	margin-bottom: 15px;
}

[type="checkbox"] {
	margin-left: 2%;
}

[type="radio"] {
	margin-left: 2%;
}

[type="number"] {
	width: 15%;
}

[type="date"] {
	width: 15%;
}

[type="submit"] {
	background-color: orange;
	font-size: x-large;
}

[type="text"] {
	width: 30%;
	display: inline-block;
	box-sizing: border-box;
}

[type="password"] {
	width: 30%;
	display: inline-block;
	box-sizing: border-box;
}

.login { /*Formatierung Login und Registrierung*/
	width: 100%;
	padding-top: 12px;
	padding-bottom: 5px;
	font-size: large;
	text-align: center;
	border: 3px groove #29b2d9;
}

button {
	border-radius: 12px;
	font-size: x-large;
}

button:hover {
	opacity: 0.8;
}

.loginButton {
	background-color: #58bddb;
	font-family: Calibri;
	font-size: 22px;
	border: none;
	border-radius: 4px;
	padding: 6px;
	color: white;
}

.sendButton {
	background-color: #58bddb;
	font-family: Calibri;
	font-size: 22px;
	border: none;
	border-radius: 4px;
	padding: 6px;
	color: white;
}

.cancelButton {
	background-color: #b3b5bc;
	font-family: Calibri;
	font-size: 22px;
	border: none;
	border-radius: 4px;
	padding: 6px;
	color: white;
}

.field {
	font-size: 14px;
	width: 340px;
	padding: 1%;
}

.fieldChange {
	font-size: 14px;
	width: 255px;
	padding: 1%;
}

.fieldNumber {
	width: 115px;
	padding: 1%;
}

.fieldDate {
	width: 200px;
	padding: 1%;
}

.addRoomButton {
	width: 100%;
	height: 100%;
	font-size: 18px;
}

.profileButton {
	float: right;
	margin-right: 1%;
	font-size: 22px;
	background-color: #b3b5bc;
	font-family: Calibri;
	font-size: 22px;
	margin-top: 2%;
	border: none;
	border-radius: 4px;
	padding: 6px;

}

.participateButton {
	float: right;
	margin: 1%;
	font-family: Calibri;
	font-size: 22px;
	background-color: #58bddb;
	border: none;
	border-radius: 4px;
	padding: 6px;
	color: white;
}

.deleteButton {
	margin-left: 2%;
	border: none;
	background-color: white;
}

[id="logoutButton"] {
	float: right;
	margin-right: 1%;
	background-color: #58bddb;
	font-family: Calibri;
	font-size: 22px;
	border: none;
	border-radius: 4px;
	padding: 6px;
}

a {
	color: black;
	text-decoration: none;
}

b {
	text-align: left;
	font-size: 18px;
}

c {
	text-align: center;
	font-size: 14px;
	color: #737373;
}

d {
	font-size: 17px;
}

e {
	color: #29b2d9;
}

f {
	font-weight: bolder;
	color: gray;
}

g {
	color: white;
}

[id="request"]{ /*Anfrageformular*/
	margin-left: 330px;
	margin-top: 90px;
	width: 75%;
	padding: 0.5%;
	font-size: large;
	border: 3px groove #29b2d9;
}
[class="requestText"] {
	float: right;
	text-align: left;
	width: 45%;
	color: gray;
}

[class="fa fa-fw fa-user"] {
	float: right;
	margin: 5px;
	margin-right: 20px;
	color: #737373;
}

[class="fa fa-fw fa-close"] {
	color: #b00f0f;
	border: none;
}
.deleteIcon {
	border: none;
}

[class="currentPage"] {
	border: gray solid 0.1px;
	border-radius: 12px;
}

[id="registration"] {
	margin-top: 20px;
	padding-top: 12px;
	padding-bottom: 5px;
	font-size: large;
	text-align: center;
	border: 3px groove #29b2d9;
}

[id="roomText"] {
	width: 80%;
	margin-right: auto;
	margin-left: auto;
	float: right;
}

[id="roomModify"] { /*Formatierung für Änderungsformulare*/
	margin-left: 330px;
	margin-top: 90px;
	width: 75%;
	border: #29b2d9 groove 3px;
	padding: 0.5%;
	text-align: left;
}
[class="modifyText"] {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 40%;
	color: gray;
}
.modifyText {
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	width: 40%;
	color: gray;
	font-size: 18px;
}

[id="createForm"] { /*Formatierung für Formulare*/
	margin-left: 330px;
	margin-top: 90px;
	width: 75%;
	border: #29b2d9 groove 3px;
	padding: 0.5%;
	text-align: center;
}

[id = "userIcon"] {
	float: left;
	font-size: 45px;
	padding-top: 3%;
}

[id = "trashIcon"] {
	float: right;
	font-size: 30px;
	margin-right: 1%;
	color: #b00f0f;
}

[id="profile"] {
	margin-left: 330px;
	margin-top: 90px;
	margin-right: auto;
	width: 75%;
	border: #29b2d9 groove 3px;
	padding: 0.5%;
	text-align: left;
	font-size: 20px;
}

[id="priceText"] {
	float: left;
	width: 77%;
	margin-top: 2%;
	margin-left: 22%;
	text-align: center;
}

[id="searchField"] {
	float: right;
	margin-right: 2%;
	border: #e2e2e2;
	font-size: 18px;
}

[id="eventList"] {
	margin-left: 37%;
	margin-top: 90px;
	width: 42%;
	font-size: 20px;
	border: 3px groove #29b2d9;
	border-radius: 12px;
	padding: 1%;
	float: left;
}

[id="searchText"] {
	float: right;
	font-size: large;
	margin-right: 2%;
}

[id="noEvent"] {
	color: gray;
	margin-left: 16%;
	margin-top: 20%;
	width: 80%;
	font-size: xx-large;
	text-align: center;
}

li {
	padding-bottom: 1%;
	list-style: none;
}

.filter {
	margin-left: 330px;
	margin-top: 90px;
	width: 75%;
	padding: 1%;
	border: none;
	border-radius: 12px;
	background-color: #aadbe9;
	text-align: center;
}

.filter2 {
	margin-left: 330px;
	margin-top: 90px;
	width: 75%;
	padding: 1%;
	border: none;
	border-radius: 12px;
	background-color: #aadbe9;
	text-align: left;
}

thead { background: #ddd; }

table#demo2.js-sort-0 tbody tr td:nth-child(1),
table#demo2.js-sort-1 tbody tr td:nth-child(2),
table#demo2.js-sort-2 tbody tr td:nth-child(3),
table#demo2.js-sort-3 tbody tr td:nth-child(4),
table#demo2.js-sort-4 tbody tr td:nth-child(5),
table#demo2.js-sort-5 tbody tr td:nth-child(6),
table#demo2.js-sort-6 tbody tr td:nth-child(7),
table#demo2.js-sort-7 tbody tr td:nth-child(8),
table#demo2.js-sort-8 tbody tr td:nth-child(9),
table#demo2.js-sort-9 tbody tr td:nth-child(10) {
	background: #dee;
}

#table { /*Formatierung für Tabellen*/
	margin-top: 90px;
	margin-left: 330px;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 77%;
	table-layout: fixed;
	text-align: center;
}
#table td, #table th {
	border: 1px solid #ddd;
	padding: 14px;
}
#table tr:nth-child(even){background-color: #f2f2f2;}
#table tr:hover {background-color: #ddd;}
#table th {
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 20px;
	text-align: center;
	background-color: #29b2d9;
	color: white;
}
#table td {
	font-size: 18px;
}

#tableVA { /*Formatierung für Veranstaltungstabellen*/
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 90px;
	margin-left: 330px;
	width: 77%;
	border-collapse: collapse;
	table-layout: fixed;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
}
#tableVA td, #tableVA th {
	border: 1px solid #ddd;
	padding: 14px;
}
#tableVA tr:nth-child(even){background-color: #f2f2f2;}
#tableVA tr:hover {background-color: #ddd;}
#tableVA th {
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 20px;
	text-align: center;
	background-color: #29b2d9;
	color: white;
}
#tableVA td {
	font-size: 18px;

}
