<!Doctype html>
<html>
<body>
<div class='container'>
    <div class='row'>
        <div class='col-sm-4 col-sm-offset-4 text-center'>
            <h1>Admin Login</h1>
            <form method='post' action='/registration'>
                <input type='text' placeholder='Vorname' name='vorname' id="vorname" >
                <input type="text" placeholder="Name" name="name" id="name">
                <input type="text" placeholder="E-Mail" name='email' id="email">
                <input type="submit" class="btn btn-primary" value="Register">
            </form>
            <a href='/admin/register'>Register a new account</a>
        </div>
    </div>
</div>
</body>
</html>
